
section:nth-child(1){
   background:url('../img/shelving-system.jpg') no-repeat fixed;
   background-size: 650px;
   background-position:240px 120px;
}

#first-image {
   position: relative;
}

#first-image img:nth-of-type(1){
   margin: 100px;
   margin-left: 220px;
   border-style: dotted;
   border-width: 10px;
   border-color:red ;
   padding: 10px;
}

h1{
   margin-top: -600px;
   margin-left: 1000px;
   color: red;
}
