section:nth-child(1){
   background:url('../img/shelving-system.jpg') no-repeat fixed;
   margin-top:100px;
   background-size: 650px;
   background-position:240px 220px;
}

#first-image {
   position: relative;
}

#first-image img:nth-of-type(1){
   margin: 100px;
   margin-left: 220px;
   border-style: dotted;
   border-width: 10px;
   border-color:red ;
   padding: 10px;
}

#first-image img:nth-of-type(2){
   width: 300px;
   height: 10px;
   margin-left: -10px;
   margin-bottom: 610px;
}

#first-image img:nth-of-type(3){
   width: 385px;
   height: 10px;
   margin-left: 1007px;
   margin-top: 18px;

}

#first-image h1:nth-of-type(1) {
   margin-top: -780px;
   margin-left: 1000px;
   font-size: 2.5rem;
   color: red;
   font-family: 'quicksand', sans-serif;
}

#first-image h1:nth-of-type(2) {
   margin-top: 120px;
   margin-left: 1000px;
   z-index: 1;
   color: red;
   font-size: 8rem;
   font-weight: 500;
   font-family: 'quicksand', sans-serif;
}

div:nth-of-type(2) img{
   border-style: dotted;
   border-width: 10px;
   border-color:red ;
   padding: 10px;
   padding-bottom: 320px;
   margin-left: 1000px;
   margin-top: 400px;
}

div:nth-of-type(2) h2{
   text-align: center;
   font-size: 1.5rem;
   color: red;
   font-family: 'quicksand', sans-serif;
   margin-top: -320px;
   /* margin-bottom: 179px; */
   margin-left:385px;
}

div:nth-of-type(2) h1{
   position: static;
   font-size: 3.5rem;
   color: red;
   font-family: 'quicksand', sans-serif;
   font-weight: 500;
   margin-top: 15px;
   padding-bottom: 107px;
   margin-left:1090px;
   padding-top: 58px;
   /* problem here!! */
}


/* h3{
   border-bottom-style: dotted;
   border-bottom-width: 10px;
   border-bottom-color:red ;
   margin-top: 192px;
} */

section:nth-child(2)>div:nth-child(1){
   height: 400px;
   background:url('../img/GD-BG.jpg') no-repeat fixed 50% 50% / cover;
   align-items: center;
   background-size: 1190px;
}

section:nth-child(2)>div:nth-child(1) p{
   font-size: 4.5rem;
   font-weight: 500;
   font-family: 'quicksand', sans-serif;
   color: white;
   padding-top: 140px;
   padding-left:405px;
   margin-top:200px;
   margin-left:200px;
   position: sticky;
   top: 90px;
}

section:nth-child(2)>div:nth-child(1) h4{
   border-style: dotted;
   border-width: 10px;
   border-color:red ;
   margin-top:-232px;
   margin-right: 210px;
   margin-left: 239px;
   padding-top: 200px;
   padding-bottom: 220px;
   text-align: center;
}

section:nth-child(3){
   margin-top: 100px;
   height:7000px;
   background: linear-gradient(to top, red,white,red,white,red,white,red,white,red,white,red,white);
   margin-top: 0px;
}

section:nth-child(3) div:nth-child(odd) h5{
   font-size: 30rem;
   font-family: 'quicksand', sans-serif;
   color: white;
   font-weight: 400;
   padding: 100px;
   margin-top:20px;
}

section:nth-child(3) div:nth-child(even) h5{
   font-size: 30rem;
   font-family: 'quicksand', sans-serif;
   color: red;
   font-weight: 400;
   padding: 100px;
   margin-top:20px;
}

.position-h1{
   position: absolute;
   top: 2570px;
   margin: 0 0 0 200px;
}

section:nth-child(3) div:nth-child(odd) p{
   position: absolute;
   font-size: 2rem;
   color: white;
   font-family: 'quicksand', sans-serif;
}

section:nth-child(3) div:nth-child(even) p{
   position: absolute;
   font-size: 2rem;
   color: red;
   font-family: 'quicksand', sans-serif;
}

.position-p1{
  position: absolute;
  top: 2810px;
  left: 30px;
  margin: 0 300px 0 600px;
  line-height: 1.2;
  border-bottom-style: dotted;
  border-bottom-width: 10px;
  padding-bottom: 20px;
  border-bottom-color:white;
}

span{
   font-weight:900;
   letter-spacing: 1px;
}

div:nth-of-type(2) span{
   font-weight: 500;
   margin-right:9px;
   letter-spacing: 3.8px;
}

.position-h2{
   position: absolute;
   top: 3200px;
   margin: 0 0 0 1050px;
}

.position-p2{
  position: absolute;
  top: 3450px;
  left: 30px;
  margin: 0 600px 0 300px;
  line-height: 1.2;
  border-bottom-style: dotted;
  border-bottom-width: 10px;
  padding-bottom: 20px;
  border-bottom-color:red;
}

.position-h3{
   position: absolute;
   top: 3850px;
   margin: 0 0 0 200px;
}

.position-p3{
  position: absolute;
  top: 4120px;
  left: 30px;
  margin: 0 300px 0 600px;
  line-height: 1.2;
  border-bottom-style: dotted;
  border-bottom-width: 10px;
  padding-bottom: 20px;
  border-bottom-color:white;
}

.position-h4{
   position: absolute;
   top: 4480px;
   margin: 0 0 0 1050px;
}

.position-p4{
  position: absolute;
  top: 4767px;
  left: 30px;
  margin: 0 600px 0 300px;
  line-height: 1.2;
  border-bottom-style: dotted;
  border-bottom-width: 10px;
  padding-bottom: 20px;
  border-bottom-color:red;
}

.position-h5{
   position: absolute;
   top: 5080px;
   margin: 0 0 0 200px;
}

.position-p5{
  position: absolute;
  top: 5350px;
  left: 30px;
  margin: 0 300px 0 600px;
  line-height: 1.2;
  border-bottom-style: dotted;
  border-bottom-width: 10px;
  padding-bottom: 20px;
  border-bottom-color:white;
}

.position-h6{
   position: absolute;
   top: 5750px;
   margin: 0 0 0 1050px;
}

.position-p6{
  position: absolute;
  top: 6030px;
  left: 30px;
  margin: 0 600px 0 300px;
  line-height: 1.2;
  border-bottom-style: dotted;
  border-bottom-width: 10px;
  padding-bottom: 20px;
  border-bottom-color:red;
}

.position-h7{
   position: absolute;
   top: 6360px;
   margin: 0 0 0 200px;
}

.position-p7{
  position: absolute;
  top: 6640px;
  left: 30px;
  margin: 0 300px 0 600px;
  line-height: 1.2;
  border-bottom-style: dotted;
  border-bottom-width: 10px;
  padding-bottom: 20px;
  border-bottom-color:white;
}

.position-h8{
   position: absolute;
   top: 7020px;
   margin: 0 0 0 1050px;
}

.position-p8{
  position: absolute;
  top: 7320px;
  left: 30px;
  margin: 0 600px 0 300px;
  line-height: 1.2;
  border-bottom-style: dotted;
  border-bottom-width: 10px;
  padding-bottom: 20px;
  border-bottom-color:red;
}

.position-h9{
   position: absolute;
   top: 7620px;
   margin: 0 0 0 200px;
}

.position-p9{
  position: absolute;
  top: 7880px;
  left: 30px;
  margin: 0 300px 0 600px;
  line-height: 1.2;
  border-bottom-style: dotted;
  border-bottom-width: 10px;
  padding-bottom: 20px;
  border-bottom-color:white;
}

.position-h10{
   position: absolute;
   top: 8250px;
   margin: 0 0 0 1050px;
}

.position-p10{
  position: absolute;
  top: 8550px;
  left: 30px;
  margin: 0 600px 0 300px;
  line-height: 1.2;
  border-bottom-style: dotted;
  border-bottom-width: 10px;
  padding-bottom: 20px;
  border-bottom-color:red;
}

/* span:nth-child(1){
   font-weight: 200;
} */

.top{
   height:90px;
   width:110px;
   border-radius: 0 90px 90px 0;
   border-right:10px dotted rgb(226,226,226);
   border-top:10px dotted rgb(226,226,226);
   border-bottom:10px dotted rgb(226,226,226);
   margin: 40px 40px 40px 0;
   background-color:rgba(255,255,255,0);
   /* position: fixed; */
}

/* nav{
   height:3000px;
} */

nav ul {
   top: 370px;
   list-style: none;
   font-size: 1.2rem;
   font-family: 'quicksand', sans-serif;
   font-weight: 500;
   position: fixed;
}

nav ul li {
   background-color: white;
   /* display: inline-block; */
}

nav ul li a {
   padding: 40px 0 40px 10px;
   display:block;
}
